{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">Following</div>
        <ul class="list-group list-group-flush">
            {% for member in following_users %}
                {% include 'include/members_button.html' %}
            {% endfor %}
        </ul>
    </div>

    <div class="card mb-3">
        <div class="card-header">Followers</div>
        <ul class="list-group list-group-flush">
            {% for member in follower_users %}
                {% include 'include/members_button.html' %}
            {% endfor %}
        </ul>
    </div>

    <div class="card mb-3">
        <div class="card-header">Block users</div>
        <ul class="list-group list-group-flush">
            {% for member in block_users %}
                {% include 'include/members_button.html' %}
            {% endfor %}
        </ul>
    </div>


{% endblock %}